<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="welcome-message" id="adminWelcomeMessage">Bienvenido, Admin</div>
        <button id="adminLogoutButton" class="logout-btn">Cerrar Sesión</button>
    </div>
    <div class="dashboard-container">
        <h1>Admin Dashboard</h1>
        <h2>Lista de Usuarios</h2>
        <div class="search-container">
            <input type="text" id="search" placeholder="Buscar usuario por email...">
            <button class="btn" onclick="fetchUsers()">Buscar</button>
        </div>
        <table id="usersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Saldo</th>
                    <th>Actualizar Saldo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán los usuarios -->
            </tbody>
        </table>

        <h2>Transferencias Pendientes</h2>
        <table id="pendingTransfersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Remitente</th>
                    <th>Receptor</th>
                    <th>Monto</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las transferencias se mostrarán aquí -->
            </tbody>
        </table>
        <h2>Todas las Transferencias Realizadas</h2>
        <table id="allTransfersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Remitente</th>
                    <th>Receptor</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se mostrarán todas las transferencias -->
            </tbody>
        </table>

        <h2>Crear Usuario</h2>
        <form id="createUserForm">
            <input type="text" id="first_name" name="first_name" autocomplete="given-name" placeholder="Nombre"
                required>
            <input type="text" id="last_name" name="last_name" autocomplete="family-name" placeholder="Apellido"
                required>
            <input type="email" id="email" name="email" autocomplete="email" placeholder="Correo Electrónico" required>
            <input type="password" id="password" name="password" autocomplete="new-password" placeholder="Contraseña"
                required>
            <select id="role" name="role" autocomplete="role" required>
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
            </select>
            <button type="submit">Crear Usuario</button>
        </form>

        <div id="error-message" style="display: none; color: red;"></div>
        <div id="success-message" style="display: none; color: green;"></div>
    </div>

    <script src="/js/dashboard.js"></script>
</body>

</html>