<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="welcome-message" id="welcomeMessage"></div>
        <button id="logoutButton" class="btn logout-btn">Cerrar Sesión</button>
    </div>

    <div class="user-dashboard-container">
        <h2>Mi Balance</h2>
        <p id="balance" class="balance-display"></p>

        <h2>Realizar Transferencia</h2>
        <form id="transferForm" class="transfer-form">
            <input type="email" id="recipientEmail" placeholder="Email del receptor" required>
            <input type="number" id="amount" placeholder="Monto a transferir" required>
            <button type="submit" class="btn">Transferir</button>
        </form>
    </div>

    <div class="transfer-list-container">
        <h2>Mis Transferencias Realizadas</h2>
        <ul id="transferList">
            <!-- Aquí se llenarán las transacciones realizadas -->
        </ul>
    </div>

    <script src="/js/user-dashboard.js"></script>
</body>

</html>